@inject IJSRuntime JSRuntime

<button class="btn btn-primary btn-sm py-0" onclick="renderChartTest(@red,@blue,@yellow,@green,@purple,@orange)">Click me</button>

<div class="chart-container" style="position: relative; height:400px; width:600px ">
    <canvas id="myChart" style="text-align:center"></canvas>
</div>


@code
{

    private int red = 15; 
    private int blue = 10;
    private int yellow = 12;
    private int green = 10;
    private int purple = 8;
    private int orange = 20;

}
