<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Dr_Wallet</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> ホーム
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="entry">
                <span class="fa-solid fa-file-invoice-dollar fa-lg" aria-hidden="true"></span>&emsp;アカウント情報
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tallys">
                <span class="fa-solid fa-chart-pie fa-lg" aria-hidden="true"></span>&emsp;集計
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bopform">
                <span class="fa-regular fa-pen-to-square fa-lg" aria-hidden="true"></span>&emsp;収支入力
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="summary">
                <span class="fa-solid fa-comment-medical fa-lg" aria-hidden="true"></span>&emsp;サマリー
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
