@page "/"
@inject NavigationManager NavManager

<PageTitle>Dr_Wallet</PageTitle>

<h1>Dr_Wallet</h1>


<div class="form-group">
    <a href="Identity/Account/Login">
        <button class="btn btn-primary">Dr.Wallet BOOT </button>
    </a>
</div>



@code {

    private void Dr_WalletStart()
    {
        NavManager.NavigateTo("/Identity/Account/Login");

    }
}