@page "/"
@inject NavigationManager NavManager

<PageTitle>Dr_Wallet</PageTitle>

<div class="text-center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <h2>Dr_Wallet</h2>
    <br />
    <div class="form-group">
        <a href="Identity/Account/Login">
            <button class="btn btn-primary w-50 btn btn-lg ">
                <h1 class="b">
                    ＳＴＡＲＴ 
                    </h1>
                </button>
        </a>
    </div>
</div>

<style>
    h1{
        font-size: 50px;
    }

    h2 {
        font-size: 70px;
    }
</style>

@code {

    private void Dr_WalletStart()
    {
        NavManager.NavigateTo("/Identity/Account/Login");

    }
}